<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346643703702-hpe17mttsn19o86jienm5pjug576rfat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346643703702-hpe17mttsn19o86jienm5pjug576rfat</string>
	<key>API_KEY</key>
	<string>AIzaSyAma5E52oq9rE8yyzrubStWyN9yZQ4I8zY</string>
	<key>GCM_SENDER_ID</key>
	<string>346643703702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vqh2602.h2oplay</string>
	<key>PROJECT_ID</key>
	<string>h20play</string>
	<key>STORAGE_BUCKET</key>
	<string>h20play.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346643703702:ios:6b1504908790717b635fb7</string>
</dict>
</plist>